@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    font-size: 20px;
    --color-title-card: #202846;

}

body {
    margin: 0;
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    background-color: #FBE4FF;
}
/* Ще чомусь остання картка внутрішньо поїхала. 
Нижче - у футері не получилися ховери і пудкреслювання 
Телефону і Пошти явно не так. Це з того, що я бачу сама. 
Решта - напишіть, будь ласка.*/

.container {
    width: 80%;
    margin: 0 auto;
}

.header-top {
    background-color: #243B93;
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
}

.logo {
    display: flex;
    align-items: center;
}

.header-top__nav {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
    width: 70%;
    text-align: center;
}

.header-top__nav a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}

.title {
    background-color: #BFF0FF;
}

.title h2 {
    font-weight: 400;
    margin: 0;
    font-size: 2.4rem;
    font-style: italic;
    padding: 1rem 0;
}

.list {
    background-color: #FFFFFF;
    padding: .5rem;
    margin: 2rem 0;
    font-size: 1.4rem;
    text-align: center;
    position: relative;
}

.list::after {
    content: url("../images/arrow.svg");
    position: absolute;
    right: 1rem;
    top: 20%;
}

.card {
    background: linear-gradient(87.05deg, #A9CBD6 0%, #01AFE6 100%);
    display: flex;
    justify-content: space-evenly;
    padding: 1.5rem 0;
    position: relative;
    margin-bottom: 1.5rem;
}

.card * {
    transition: all 1s;
}

.card>.card-img {
    width: 30%;
}

.card-img>img {
    width: 100%;
    min-height: 100%;
}

.card>.card-description {
    width: 50%;
}

.card .card-description__title {
    font-weight: 700;
    font-style: italic;
    font-size: 1.8rem;
    border-bottom: 3px solid white;
    color: var(--color-title-card);
    margin-top: -7px;
    margin-bottom: 13px;
}

.card .card-description__content {
    background-color: #EDFBFF;
    height: 65%;
    padding: 11px 16px;
    text-align: justify;
}

.card .star,
.card .btn,
.card .arrow_up {
    position: absolute;
}

.card .btn {
    display: inline-block;
    bottom: 10px;
    right: -65px;
    background-color: #243B93;
    color: white;
    width: 200px;
    padding: 0.5rem 0;
    text-align: center;
    border-radius: 50px;
    text-decoration: none;
    font-size: 1.2rem;
}

.card .star {
    right: 10px;
    top: 10px;
}

/* .card .arrow_up {
    right:5px;
    bottom: 15px;
}
 */
/* hover start */

.card:hover {
    background-color: #2CBDEB;
    box-shadow: 0px 0px 30px 4px #2CBDEB;
}

.card:hover .star path {
    fill: yellow;
}

.card:hover .btn {
    background-color: #EF075B;
}

.footer {
    width: 100%;
}

.personal_area {
    background: linear-gradient(90deg, #FFE601 0%, #55D6FF 100%);
    font-weight: 400;
    font-style: italic;
    font-size: 44px;
    display: flex;
    align-items: center;
    color: #243B93;
    padding-top: 17px;
    padding-left: 151px;
    position: relative;
}

.business_card {
    background: linear-gradient(180deg, #859EFF 0%, rgba(105, 255, 210, 0.5) 100%);
    width: 80%;
    height: 100%;
    margin: 36px auto;
    display: flex;
    justify-content: space-evenly;
}

.column_left {
    display: flex;
    flex-direction: column;
    padding: 77px 0 76px 167px;
}

.column_left>.ava_btn_1,
.ava_btn_2 {
    display: inline-block;
    bottom: 10px;
    right: -65px;
    background-color: #243B93;
    color: white;
    width: 200px;
    padding: 0.5rem 0;
    text-align: center;
    border-radius: 50px;
    text-decoration: none;
    font-size: 1.2rem;
    margin-top: 35px;
}

.column_right {
    display: flex;
    flex-direction: column;
    padding: 30px 115px;
}

.personal_date>div {
    display: block;
    color: #353C57;
    font-family: 'PT Sans';
    font-style: italic;
    font-weight: 400;
    font-size: 36px;
    list-style-type: none;
    border-bottom: 3px solid white;
    margin-top: 30px;

}

.ava_btn_3 {
    display: inline-block;
    background-color: #243B93;
    color: white;
    width: 200px;
    padding: 0.5rem 0;
    text-align: center;
    border-radius: 50px;
    text-decoration: none;
    font-size: 1.2rem;
    position: absolute;
    left: 45%
}

/* /* hover footer * - шось не те(( можете виправити 
і проявити якось, щоб второпати /
 */
.column_left:hover .ava_btn_1 .ava_btn_2 {
    background-color: #EF075B;
}

.footer:hover .ava_btn_3{
    background-color: #EF075B;
}

.footer_contacts {
    background: linear-gradient(90deg, #54D6FF 0%, #FFE600 100%);
    font-weight: 400;
    font-style: italic;
    font-size: 44px;
    display: flex;
    align-items: center;
    color: #243B93;
    padding-top: 17px;
    padding-left: 151px;
    margin-top: 125px;
}

.footer_contacts_content {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;

    margin: 36px auto;
}

.footer_contacts_clmn_1,
.footer_contacts_clmn_2 {
    width: 30%;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 39px;
    color: #000000;
}

.footer_line {
    width: 100%;
    height: 65px;
    background: #243B93;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    display: flex;
    align-items: center;
    letter-spacing: 0.16em;
    color: #FFFFFF;
    padding-left: 150px;
}