/* @import url('https://fonts.googleapis.com/css2?family=M+PLUS+1&family=Marcellus&family=Roboto:wght@400;700&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=M+PLUS+1&family=Marcellus&family=Roboto:wght@400;700&display=swap'); */
html{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}
body {
    background: #A89D9D;
    margin:0;
}

.container {
    min-width: 700px;
    max-width: 1000px;
    margin:0 auto;
    background: #FFF;
}

.header {
    text-align: center;
    padding-top: 30px;
}

.header-blue {
    color: #3E45E8;
    font-family: 'M PLUS 1';
    font-weight: 400;
    text-transform: uppercase;
    font-size: 48px;
    line-height: 70px;
    letter-spacing: 0.1em;

}

.header-yellow {
    color: #E8C23E;
    font-family: 'M PLUS 1';
    font-weight: 400;
    text-transform: uppercase;
    font-size: 48px;
    line-height: 70px;
    letter-spacing: 0.1em;
}

.banner-image {
    background: url("../images/flag_vertical.png"),
        url("../images/main_photo.png");
    width: 100%;
    height: 522px;
    background-size: 23px 290px, 100%;
    background-repeat: no-repeat;
    background-position: 80px center, center;
    margin-top: 30px;
}

.background-text {
    width: 80%;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #FFF;
    font-size: 28px;
    line-height: 157.3%;
    padding-top: 180px;
    padding-left: 125px;
}

.middle {
    width: 100%;
    margin-top: 48px;
}

.middle_title {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 157.3%;
    color: #000000;
    margin-left: 80px;
}

.rectangle {
    margin-top: 6px;
}

.cards {
    margin-top: 42px;
    display: flex;
    justify-content: space-evenly;
}

.cards__card {
    width: 30%;
    height: 389px;
    border: 5px solid rgba(13, 9, 95, 1);
    border-radius: 30px;
    box-shadow: -12px 18px 40px rgba(0, 209, 255, 0.35);
}

.cards__card:nth-child(2) {
    box-shadow: 0px 18px 35px rgba(0, 209, 255, 0.35);
}

.cards__card:nth-child(3) {
    box-shadow: 12px 18px 40px rgba(0, 209, 255, 0.35);
}

.cards__card_img {
    width: 100%;
}

.cards__card_title {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 157.3%;
    color: #0072DB;
    margin-top: 16px;
    padding-left: 10px;
}

.cards__card_text {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 157.3%;
    color: #FF9900;
    margin-top: 13px;
    padding-left: 10px;
}

/* Section_Map */
.map {
    width: 100%;
    margin-top: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.map_title {
    width: 55%;
    border-bottom: 7px solid #1400FF;
    padding-bottom: 10px;
}

.map_title_text {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 157.3%;
    color: #000000;
}

.map_image {
    margin-top: 32px;
    width: 90%;
}

.map_btn {
    margin-top: 24px;
    background: #2A61F0;
    border-radius: 50px;
    padding: 0px 243px;
    cursor: pointer;
    border: none;
    outline: none;
}

.map_btn_txt {
    font-weight: 700;
    font-size: 48px;
    line-height: 157.3%;
    color: #FFFFFF;
    text-transform: uppercase;
}

.footer {
    background: linear-gradient(180deg, #013235 0%, #0D0661 100%);
    margin-top: 36px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 16px;
}

.footer_title {
    margin-top: 6px;
    text-decoration: none;
}
.footer_email {
    font-family: 'Marcellus SC';
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
    letter-spacing: 0.1em;
    color: #A89D9D;
    text-decoration: none;
}
.footer_icons{
    margin-top: 10px;
}
.icon_facebook{
    margin: 0 20px;
}