@import url('https://fonts.googleapis.com/css2?family=Inter&family=Roboto:wght@500&display=swap');

body {
    background: rgb(243, 235, 235);
    margin: 0;
}

.container {
    min-width: 1000px;
    max-width: 1500px;
    margin: 0 auto;
    background: #fff;
}

.header {
    width: 100%;
}

/* хотіла тут розмістити картинки, але їх не видно було. Що робила не так?
.header_image{
    background: url("../images/background_title.png"),
    url("../images/background_banner.png");
    width: 100%;
    height: 700px;
    background-size
} */

.background_banner {
    position: absolute;
}

.background_title {
    position: relative;
    width: 969px;
    height: 206px;
    margin: 144px 266px 350px 265px;
}

.cards_section {
    width: 100%;
    margin-top: 32px;
    display: flex;
    justify-content: space-evenly;
}

/* space-evenly не дуже підходить, бо з наступною картинкою 
по бокам не співпадає. Але що я не так зробила к кодом в коменті, 
що він не спрацював
.cards_section:nth-child(1){
    margin-left: 112px;
    margin-right: 38px;
}

.cards_section:nth-child(2){
    margin-left: 38px;
    margin-right: 38px;
}

.cards_section:nth-child(3){
    margin-left: 38px;
    margin-right: 112px;
} */

.cards_section_title {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 40px;
    /* line-height: 48px; різниця не суттєва, треба прибрати? */
    color: #000000;
    text-transform: uppercase;
    margin-top: 32px;
    margin-left: 112px;
}

.cards {
    width: 400px;
    height: 460px;
    background-color: #231B0C;
}

.card_title {
    padding: 37px 113px 0 114px;
}

.card_img {
    padding: 87px 50px 66px 50px;
}

.img_venice {
    width: 100%;
    margin-top: 42px;
    margin-left: 112px;
}

.footer {
    width: 100%;
    height: 279px;
    background-color: #150F02;
    margin-top: 40px;
}

.footer_image_1 {
    display: inline-flex;
    margin-top: 39px;
}

.footer_entertainment {
    margin-left: 420px;
}

.footer_shops {
    margin-left: 370px;
    margin-right: 477.7px;
}

.footer_image_2 {
    display: inline-flex;
    margin-top: 27px;
}

.footer_restourants {
    margin-left: 420px;
}

.footer_art {
    margin-left: 395px;
    margin-right: 503px;
}

.footer_title {
    font-family: 'Roboto', sans-serif;
    /* не дуже схожі, може причина в тому, 
    що знайшла шрифт Roboto 500, а не 600 */
    font-weight: 600;
    font-size: 20px;
    line-height: 137.21%;
    letter-spacing: 0.15em;
    color: #FFFFFF;
    text-align: center;
}

.rectangle_orange {
    width: 318px;
    height: 10px;
    background: #FF6B00;
    margin-left: 591px;
}

.footer_icons {
    text-align: center;
    justify-content: space-around;
    margin-top: 20px;   
}

.icon_facebook{
    margin: 0 32px;
}